#emiciclo .IVICRE, #gruppi .IVICRE {
	background-color:#FF9999!important;
	color:#FF9999!important;
}
#emiciclo .APERRE, #gruppi .APERRE {
	background-color:#CC66FF!important;
	color:#CC66FF!important;
}
#emiciclo .AVS, #gruppi .AVS {
	background-color:#FFA219!important;
	color:#FFA219!important;
}
#emiciclo .PD-IDP, #gruppi .PD-IDP {
	background-color:#FF0000!important;
	color:#FF0000!important;
}
#emiciclo .M5S, #gruppi .M5S {
	background-color:#FFFF00!important;
	color:#FFFF00!important;
}
#emiciclo .FI-PPE, #gruppi .FI-PPE {
	background-color:#09ffff!important;
	color:#09ffff!important;
}
#emiciclo .NM-M-C, #gruppi .NM-M-C {
	background-color:#FF33cc!important;
	color:#FF33cc!important;
}
#emiciclo .LEGA, #gruppi .LEGA {
	background-color:#33cc33!important;
	color:#33cc33!important;
}
#emiciclo .FDI, #gruppi .FDI {
	background-color:#0b52fc!important;
	color:#0b52fc!important;
}
