#seggio_1{
	position:absolute;
	top:231pt;
	left:96pt;
}
#seggio_2{
	position:absolute;
	top:225pt;
	left:96pt;
}
#seggio_3{
	position:absolute;
	top:219pt;
	left:96pt;
}
#seggio_4{
	position:absolute;
	top:237pt;
	left:87pt;
}
#seggio_5{
	position:absolute;
	top:231pt;
	left:87pt;
}
#seggio_6{
	position:absolute;
	top:225pt;
	left:87pt;
}
#seggio_7{
	position:absolute;
	top:219pt;
	left:87pt;
}
#seggio_8{
	position:absolute;
	top:213pt;
	left:87pt;
}
#seggio_9{
	position:absolute;
	top:237pt;
	left:77pt;
}
#seggio_10{
	position:absolute;
	top:231pt;
	left:77pt;
}
#seggio_11{
	position:absolute;
	top:225pt;
	left:77pt;
}
#seggio_12{
	position:absolute;
	top:219pt;
	left:77pt;
}
#seggio_13{
	position:absolute;
	top:213pt;
	left:77pt;
}
#seggio_14{
	position:absolute;
	top:237pt;
	left:68pt;
}
#seggio_15{
	position:absolute;
	top:231pt;
	left:68pt;
}
#seggio_16{
	position:absolute;
	top:225pt;
	left:68pt;
}
#seggio_17{
	position:absolute;
	top:219pt;
	left:68pt;
}
#seggio_18{
	position:absolute;
	top:213pt;
	left:68pt;
}
#seggio_19{
	position:absolute;
	top:237pt;
	left:59pt;
}
#seggio_20{
	position:absolute;
	top:231pt;
	left:59pt;
}
#seggio_21{
	position:absolute;
	top:225pt;
	left:59pt;
}
#seggio_22{
	position:absolute;
	top:219pt;
	left:59pt;
}
#seggio_23{
	position:absolute;
	top:213pt;
	left:59pt;
}
#seggio_24{
	position:absolute;
	top:237pt;
	left:50pt;
}
#seggio_25{
	position:absolute;
	top:231pt;
	left:50pt;
}
#seggio_26{
	position:absolute;
	top:225pt;
	left:50pt;
}
#seggio_27{
	position:absolute;
	top:219pt;
	left:50pt;
}
#seggio_28{
	position:absolute;
	top:213pt;
	left:50pt;
}
#seggio_29{
	position:absolute;
	top:237pt;
	left:40pt;
}
#seggio_30{
	position:absolute;
	top:231pt;
	left:40pt;
}
#seggio_31{
	position:absolute;
	top:225pt;
	left:40pt;
}
#seggio_32{
	position:absolute;
	top:219pt;
	left:40pt;
}
#seggio_33{
	position:absolute;
	top:213pt;
	left:40pt;
}
#seggio_34{
	position:absolute;
	top:237pt;
	left:31pt;
}
#seggio_35{
	position:absolute;
	top:231pt;
	left:31pt;
}
#seggio_36{
	position:absolute;
	top:225pt;
	left:31pt;
}
#seggio_37{
	position:absolute;
	top:219pt;
	left:31pt;
}
#seggio_38{
	position:absolute;
	top:213pt;
	left:31pt;
}
#seggio_39{
	position:absolute;
	top:237pt;
	left:22pt;
}
#seggio_40{
	position:absolute;
	top:231pt;
	left:22pt;
}
#seggio_41{
	position:absolute;
	top:225pt;
	left:22pt;
}
#seggio_42{
	position:absolute;
	top:219pt;
	left:22pt;
}
#seggio_43{
	position:absolute;
	top:213pt;
	left:22pt;
}
#seggio_44{
	position:absolute;
	top:237pt;
	left:12pt;
}
#seggio_45{
	position:absolute;
	top:231pt;
	left:12pt;
}
#seggio_46{
	position:absolute;
	top:225pt;
	left:12pt;
}
#seggio_47{
	position:absolute;
	top:219pt;
	left:12pt;
}
#seggio_48{
	position:absolute;
	top:213pt;
	left:12pt;
}
#seggio_49{
	position:absolute;
	top:234pt;
	left:3pt;
}
#seggio_50{
	position:absolute;
	top:227pt;
	left:3pt;
}
#seggio_51{
	position:absolute;
	top:220pt;
	left:3pt;
}
#seggio_52{
	position:absolute;
	top:213pt;
	left:3pt;
}
#seggio_53{
	position:absolute;
	top:195pt;
	left:97pt;
}
#seggio_54{
	position:absolute;
	top:185pt;
	left:99pt;
}
#seggio_55{
	position:absolute;
	top:197pt;
	left:87pt;
}
#seggio_56{
	position:absolute;
	top:188pt;
	left:89pt;
}
#seggio_57{
	position:absolute;
	top:179pt;
	left:91pt;
}
#seggio_58{
	position:absolute;
	top:198pt;
	left:78pt;
}
#seggio_59{
	position:absolute;
	top:190pt;
	left:79pt;
}
#seggio_60{
	position:absolute;
	top:183pt;
	left:80pt;
}
#seggio_61{
	position:absolute;
	top:175pt;
	left:83pt;
}
#seggio_62{
	position:absolute;
	top:198pt;
	left:69pt;
}
#seggio_63{
	position:absolute;
	top:192pt;
	left:69pt;
}
#seggio_64{
	position:absolute;
	top:184pt;
	left:70pt;
}
#seggio_65{
	position:absolute;
	top:178pt;
	left:72pt;
}
#seggio_66{
	position:absolute;
	top:171pt;
	left:74pt;
}
#seggio_67{
	position:absolute;
	top:198pt;
	left:59pt;
}
#seggio_68{
	position:absolute;
	top:190pt;
	left:60pt;
}
#seggio_69{
	position:absolute;
	top:183pt;
	left:61pt;
}
#seggio_70{
	position:absolute;
	top:175pt;
	left:63pt;
}
#seggio_71{
	position:absolute;
	top:167pt;
	left:65pt;
}
#seggio_72{
	position:absolute;
	top:198pt;
	left:50pt;
}
#seggio_73{
	position:absolute;
	top:192pt;
	left:50pt;
}
#seggio_74{
	position:absolute;
	top:184pt;
	left:51pt;
}
#seggio_75{
	position:absolute;
	top:177pt;
	left:53pt;
}
#seggio_76{
	position:absolute;
	top:170pt;
	left:54pt;
}
#seggio_77{
	position:absolute;
	top:163pt;
	left:57pt;
}
#seggio_78{
	position:absolute;
	top:198pt;
	left:40pt;
}
#seggio_79{
	position:absolute;
	top:190pt;
	left:41pt;
}
#seggio_80{
	position:absolute;
	top:183pt;
	left:42pt;
}
#seggio_81{
	position:absolute;
	top:175pt;
	left:44pt;
}
#seggio_82{
	position:absolute;
	top:167pt;
	left:46pt;
}
#seggio_83{
	position:absolute;
	top:160pt;
	left:48pt;
}
#seggio_84{
	position:absolute;
	top:198pt;
	left:31pt;
}
#seggio_85{
	position:absolute;
	top:191pt;
	left:32pt;
}
#seggio_86{
	position:absolute;
	top:184pt;
	left:32pt;
}
#seggio_87{
	position:absolute;
	top:177pt;
	left:34pt;
}
#seggio_88{
	position:absolute;
	top:170pt;
	left:35pt;
}
#seggio_89{
	position:absolute;
	top:163pt;
	left:37pt;
}
#seggio_90{
	position:absolute;
	top:156pt;
	left:39pt;
}
#seggio_91{
	position:absolute;
	top:198pt;
	left:22pt;
}
#seggio_92{
	position:absolute;
	top:192pt;
	left:23pt;
}
#seggio_93{
	position:absolute;
	top:185pt;
	left:23pt;
}
#seggio_94{
	position:absolute;
	top:178pt;
	left:24pt;
}
#seggio_95{
	position:absolute;
	top:171pt;
	left:25pt;
}
#seggio_96{
	position:absolute;
	top:165pt;
	left:27pt;
}
#seggio_97{
	position:absolute;
	top:158pt;
	left:29pt;
}
#seggio_98{
	position:absolute;
	top:152pt;
	left:31pt;
}
#seggio_99{
	position:absolute;
	top:199pt;
	left:12pt;
}
#seggio_100{
	position:absolute;
	top:192pt;
	left:13pt;
}
#seggio_101{
	position:absolute;
	top:186pt;
	left:13pt;
}
#seggio_102{
	position:absolute;
	top:179pt;
	left:15pt;
}
#seggio_103{
	position:absolute;
	top:173pt;
	left:16pt;
}
#seggio_104{
	position:absolute;
	top:167pt;
	left:17pt;
}
#seggio_105{
	position:absolute;
	top:160pt;
	left:18pt;
}
#seggio_106{
	position:absolute;
	top:154pt;
	left:20pt;
}
#seggio_107{
	position:absolute;
	top:148pt;
	left:22pt;
}
#seggio_108{
	position:absolute;
	top:198pt;
	left:3pt;
}
#seggio_109{
	position:absolute;
	top:192pt;
	left:4pt;
}
#seggio_110{
	position:absolute;
	top:185pt;
	left:4pt;
}
#seggio_111{
	position:absolute;
	top:178pt;
	left:5pt;
}
#seggio_112{
	position:absolute;
	top:171pt;
	left:6pt;
}
#seggio_113{
	position:absolute;
	top:165pt;
	left:8pt;
}
#seggio_114{
	position:absolute;
	top:158pt;
	left:10pt;
}
#seggio_115{
	position:absolute;
	top:151pt;
	left:11pt;
}
#seggio_116{
	position:absolute;
	top:144pt;
	left:13pt;
}
#seggio_117{
	position:absolute;
	top:165pt;
	left:107pt;
}
#seggio_118{
	position:absolute;
	top:157pt;
	left:112pt;
}
#seggio_119{
	position:absolute;
	top:164pt;
	left:97pt;
}
#seggio_120{
	position:absolute;
	top:156pt;
	left:101pt;
}
#seggio_121{
	position:absolute;
	top:148pt;
	left:107pt;
}
#seggio_122{
	position:absolute;
	top:160pt;
	left:88pt;
}
#seggio_123{
	position:absolute;
	top:153pt;
	left:92pt;
}
#seggio_124{
	position:absolute;
	top:147pt;
	left:96pt;
}
#seggio_125{
	position:absolute;
	top:141pt;
	left:101pt;
}
#seggio_126{
	position:absolute;
	top:157pt;
	left:79pt;
}
#seggio_127{
	position:absolute;
	top:151pt;
	left:83pt;
}
#seggio_128{
	position:absolute;
	top:144pt;
	left:86pt;
}
#seggio_129{
	position:absolute;
	top:139pt;
	left:90pt;
}
#seggio_130{
	position:absolute;
	top:133pt;
	left:94pt;
}
#seggio_131{
	position:absolute;
	top:153pt;
	left:71pt;
}
#seggio_132{
	position:absolute;
	top:146pt;
	left:74pt;
}
#seggio_133{
	position:absolute;
	top:139pt;
	left:78pt;
}
#seggio_134{
	position:absolute;
	top:133pt;
	left:83pt;
}
#seggio_135{
	position:absolute;
	top:127pt;
	left:87pt;
}
#seggio_136{
	position:absolute;
	top:150pt;
	left:62pt;
}
#seggio_137{
	position:absolute;
	top:143pt;
	left:65pt;
}
#seggio_138{
	position:absolute;
	top:137pt;
	left:69pt;
}
#seggio_139{
	position:absolute;
	top:131pt;
	left:73pt;
}
#seggio_140{
	position:absolute;
	top:125pt;
	left:77pt;
}
#seggio_141{
	position:absolute;
	top:120pt;
	left:81pt;
}
#seggio_142{
	position:absolute;
	top:146pt;
	left:53pt;
}
#seggio_143{
	position:absolute;
	top:139pt;
	left:57pt;
}
#seggio_144{
	position:absolute;
	top:132pt;
	left:61pt;
}
#seggio_145{
	position:absolute;
	top:125pt;
	left:65pt;
}
#seggio_146{
	position:absolute;
	top:119pt;
	left:70pt;
}
#seggio_147{
	position:absolute;
	top:113pt;
	left:74pt;
}
#seggio_148{
	position:absolute;
	top:142pt;
	left:45pt;
}
#seggio_149{
	position:absolute;
	top:136pt;
	left:48pt;
}
#seggio_150{
	position:absolute;
	top:129pt;
	left:51pt;
}
#seggio_151{
	position:absolute;
	top:123pt;
	left:55pt;
}
#seggio_152{
	position:absolute;
	top:118pt;
	left:59pt;
}
#seggio_153{
	position:absolute;
	top:111pt;
	left:64pt;
}
#seggio_154{
	position:absolute;
	top:106pt;
	left:68pt;
}
#seggio_155{
	position:absolute;
	top:138pt;
	left:36pt;
}
#seggio_156{
	position:absolute;
	top:132pt;
	left:39pt;
}
#seggio_157{
	position:absolute;
	top:127pt;
	left:42pt;
}
#seggio_158{
	position:absolute;
	top:121pt;
	left:46pt;
}
#seggio_159{
	position:absolute;
	top:115pt;
	left:49pt;
}
#seggio_160{
	position:absolute;
	top:110pt;
	left:53pt;
}
#seggio_161{
	position:absolute;
	top:104pt;
	left:57pt;
}
#seggio_162{
	position:absolute;
	top:99pt;
	left:62pt;
}
#seggio_163{
	position:absolute;
	top:135pt;
	left:27pt;
}
#seggio_164{
	position:absolute;
	top:129pt;
	left:30pt;
}
#seggio_165{
	position:absolute;
	top:124pt;
	left:33pt;
}
#seggio_166{
	position:absolute;
	top:118pt;
	left:36pt;
}
#seggio_167{
	position:absolute;
	top:113pt;
	left:40pt;
}
#seggio_168{
	position:absolute;
	top:107pt;
	left:43pt;
}
#seggio_169{
	position:absolute;
	top:102pt;
	left:47pt;
}
#seggio_170{
	position:absolute;
	top:97pt;
	left:51pt;
}
#seggio_171{
	position:absolute;
	top:92pt;
	left:55pt;
}
#seggio_172{
	position:absolute;
	top:131pt;
	left:19pt;
}
#seggio_173{
	position:absolute;
	top:125pt;
	left:22pt;
}
#seggio_174{
	position:absolute;
	top:119pt;
	left:25pt;
}
#seggio_175{
	position:absolute;
	top:113pt;
	left:29pt;
}
#seggio_176{
	position:absolute;
	top:107pt;
	left:32pt;
}
#seggio_177{
	position:absolute;
	top:101pt;
	left:36pt;
}
#seggio_178{
	position:absolute;
	top:96pt;
	left:40pt;
}
#seggio_179{
	position:absolute;
	top:91pt;
	left:44pt;
}
#seggio_180{
	position:absolute;
	top:86pt;
	left:49pt;
}
#seggio_181{
	position:absolute;
	top:142pt;
	left:127pt;
}
#seggio_182{
	position:absolute;
	top:136pt;
	left:135pt;
}
#seggio_183{
	position:absolute;
	top:136pt;
	left:119pt;
}
#seggio_184{
	position:absolute;
	top:130pt;
	left:126pt;
}
#seggio_185{
	position:absolute;
	top:126pt;
	left:133pt;
}
#seggio_186{
	position:absolute;
	top:130pt;
	left:111pt;
}
#seggio_187{
	position:absolute;
	top:125pt;
	left:117pt;
}
#seggio_188{
	position:absolute;
	top:120pt;
	left:124pt;
}
#seggio_189{
	position:absolute;
	top:116pt;
	left:131pt;
}
#seggio_190{
	position:absolute;
	top:123pt;
	left:105pt;
}
#seggio_191{
	position:absolute;
	top:119pt;
	left:110pt;
}
#seggio_192{
	position:absolute;
	top:114pt;
	left:116pt;
}
#seggio_193{
	position:absolute;
	top:111pt;
	left:121pt;
}
#seggio_194{
	position:absolute;
	top:108pt;
	left:127pt;
}
#seggio_195{
	position:absolute;
	top:116pt;
	left:98pt;
}
#seggio_196{
	position:absolute;
	top:111pt;
	left:104pt;
}
#seggio_197{
	position:absolute;
	top:106pt;
	left:110pt;
}
#seggio_198{
	position:absolute;
	top:102pt;
	left:117pt;
}
#seggio_199{
	position:absolute;
	top:99pt;
	left:123pt;
}
#seggio_200{
	position:absolute;
	top:109pt;
	left:91pt;
}
#seggio_201{
	position:absolute;
	top:105pt;
	left:97pt;
}
#seggio_202{
	position:absolute;
	top:100pt;
	left:102pt;
}
#seggio_203{
	position:absolute;
	top:96pt;
	left:108pt;
}
#seggio_204{
	position:absolute;
	top:93pt;
	left:114pt;
}
#seggio_205{
	position:absolute;
	top:90pt;
	left:120pt;
}
#seggio_206{
	position:absolute;
	top:102pt;
	left:85pt;
}
#seggio_207{
	position:absolute;
	top:97pt;
	left:91pt;
}
#seggio_208{
	position:absolute;
	top:92pt;
	left:97pt;
}
#seggio_209{
	position:absolute;
	top:88pt;
	left:103pt;
}
#seggio_210{
	position:absolute;
	top:84pt;
	left:110pt;
}
#seggio_211{
	position:absolute;
	top:81pt;
	left:116pt;
}
#seggio_212{
	position:absolute;
	top:96pt;
	left:78pt;
}
#seggio_213{
	position:absolute;
	top:91pt;
	left:84pt;
}
#seggio_214{
	position:absolute;
	top:86pt;
	left:89pt;
}
#seggio_215{
	position:absolute;
	top:82pt;
	left:94pt;
}
#seggio_216{
	position:absolute;
	top:78pt;
	left:100pt;
}
#seggio_217{
	position:absolute;
	top:75pt;
	left:107pt;
}
#seggio_218{
	position:absolute;
	top:72pt;
	left:113pt;
}
#seggio_219{
	position:absolute;
	top:89pt;
	left:71pt;
}
#seggio_220{
	position:absolute;
	top:85pt;
	left:77pt;
}
#seggio_221{
	position:absolute;
	top:80pt;
	left:81pt;
}
#seggio_222{
	position:absolute;
	top:76pt;
	left:87pt;
}
#seggio_223{
	position:absolute;
	top:72pt;
	left:92pt;
}
#seggio_224{
	position:absolute;
	top:69pt;
	left:98pt;
}
#seggio_225{
	position:absolute;
	top:66pt;
	left:104pt;
}
#seggio_226{
	position:absolute;
	top:63pt;
	left:110pt;
}
#seggio_227{
	position:absolute;
	top:82pt;
	left:65pt;
}
#seggio_228{
	position:absolute;
	top:78pt;
	left:69pt;
}
#seggio_229{
	position:absolute;
	top:74pt;
	left:74pt;
}
#seggio_230{
	position:absolute;
	top:70pt;
	left:79pt;
}
#seggio_231{
	position:absolute;
	top:66pt;
	left:84pt;
}
#seggio_232{
	position:absolute;
	top:63pt;
	left:90pt;
}
#seggio_233{
	position:absolute;
	top:59pt;
	left:95pt;
}
#seggio_234{
	position:absolute;
	top:57pt;
	left:100pt;
}
#seggio_235{
	position:absolute;
	top:54pt;
	left:106pt;
}
#seggio_236{
	position:absolute;
	top:75pt;
	left:58pt;
}
#seggio_237{
	position:absolute;
	top:71pt;
	left:63pt;
}
#seggio_238{
	position:absolute;
	top:66pt;
	left:69pt;
}
#seggio_239{
	position:absolute;
	top:62pt;
	left:74pt;
}
#seggio_240{
	position:absolute;
	top:58pt;
	left:79pt;
}
#seggio_241{
	position:absolute;
	top:54pt;
	left:85pt;
}
#seggio_242{
	position:absolute;
	top:51pt;
	left:90pt;
}
#seggio_243{
	position:absolute;
	top:48pt;
	left:96pt;
}
#seggio_244{
	position:absolute;
	top:45pt;
	left:102pt;
}
#seggio_245{
	position:absolute;
	top:128pt;
	left:154pt;
}
#seggio_246{
	position:absolute;
	top:126pt;
	left:164pt;
}
#seggio_247{
	position:absolute;
	top:119pt;
	left:148pt;
}
#seggio_248{
	position:absolute;
	top:117pt;
	left:157pt;
}
#seggio_249{
	position:absolute;
	top:116pt;
	left:166pt;
}
#seggio_250{
	position:absolute;
	top:111pt;
	left:144pt;
}
#seggio_251{
	position:absolute;
	top:109pt;
	left:152pt;
}
#seggio_252{
	position:absolute;
	top:107pt;
	left:159pt;
}
#seggio_253{
	position:absolute;
	top:106pt;
	left:167pt;
}
#seggio_254{
	position:absolute;
	top:102pt;
	left:140pt;
}
#seggio_255{
	position:absolute;
	top:100pt;
	left:147pt;
}
#seggio_256{
	position:absolute;
	top:98pt;
	left:153pt;
}
#seggio_257{
	position:absolute;
	top:97pt;
	left:160pt;
}
#seggio_258{
	position:absolute;
	top:96pt;
	left:167pt;
}
#seggio_259{
	position:absolute;
	top:93pt;
	left:137pt;
}
#seggio_260{
	position:absolute;
	top:90pt;
	left:144pt;
}
#seggio_261{
	position:absolute;
	top:88pt;
	left:152pt;
}
#seggio_262{
	position:absolute;
	top:87pt;
	left:159pt;
}
#seggio_263{
	position:absolute;
	top:87pt;
	left:167pt;
}
#seggio_264{
	position:absolute;
	top:84pt;
	left:133pt;
}
#seggio_265{
	position:absolute;
	top:82pt;
	left:140pt;
}
#seggio_266{
	position:absolute;
	top:80pt;
	left:146pt;
}
#seggio_267{
	position:absolute;
	top:78pt;
	left:153pt;
}
#seggio_268{
	position:absolute;
	top:77pt;
	left:160pt;
}
#seggio_269{
	position:absolute;
	top:77pt;
	left:167pt;
}
#seggio_270{
	position:absolute;
	top:75pt;
	left:130pt;
}
#seggio_271{
	position:absolute;
	top:72pt;
	left:137pt;
}
#seggio_272{
	position:absolute;
	top:71pt;
	left:144pt;
}
#seggio_273{
	position:absolute;
	top:69pt;
	left:152pt;
}
#seggio_274{
	position:absolute;
	top:68pt;
	left:159pt;
}
#seggio_275{
	position:absolute;
	top:67pt;
	left:167pt;
}
#seggio_276{
	position:absolute;
	top:66pt;
	left:126pt;
}
#seggio_277{
	position:absolute;
	top:64pt;
	left:133pt;
}
#seggio_278{
	position:absolute;
	top:62pt;
	left:139pt;
}
#seggio_279{
	position:absolute;
	top:60pt;
	left:146pt;
}
#seggio_280{
	position:absolute;
	top:59pt;
	left:153pt;
}
#seggio_281{
	position:absolute;
	top:58pt;
	left:160pt;
}
#seggio_282{
	position:absolute;
	top:58pt;
	left:167pt;
}
#seggio_283{
	position:absolute;
	top:57pt;
	left:123pt;
}
#seggio_284{
	position:absolute;
	top:55pt;
	left:128pt;
}
#seggio_285{
	position:absolute;
	top:53pt;
	left:135pt;
}
#seggio_286{
	position:absolute;
	top:52pt;
	left:141pt;
}
#seggio_287{
	position:absolute;
	top:50pt;
	left:147pt;
}
#seggio_288{
	position:absolute;
	top:49pt;
	left:154pt;
}
#seggio_289{
	position:absolute;
	top:48pt;
	left:161pt;
}
#seggio_290{
	position:absolute;
	top:48pt;
	left:167pt;
}
#seggio_291{
	position:absolute;
	top:48pt;
	left:119pt;
}
#seggio_292{
	position:absolute;
	top:46pt;
	left:124pt;
}
#seggio_293{
	position:absolute;
	top:44pt;
	left:130pt;
}
#seggio_294{
	position:absolute;
	top:43pt;
	left:137pt;
}
#seggio_295{
	position:absolute;
	top:41pt;
	left:143pt;
}
#seggio_296{
	position:absolute;
	top:40pt;
	left:149pt;
}
#seggio_297{
	position:absolute;
	top:39pt;
	left:155pt;
}
#seggio_298{
	position:absolute;
	top:39pt;
	left:161pt;
}
#seggio_299{
	position:absolute;
	top:38pt;
	left:167pt;
}
#seggio_300{
	position:absolute;
	top:39pt;
	left:115pt;
}
#seggio_301{
	position:absolute;
	top:37pt;
	left:121pt;
}
#seggio_302{
	position:absolute;
	top:35pt;
	left:128pt;
}
#seggio_303{
	position:absolute;
	top:33pt;
	left:134pt;
}
#seggio_304{
	position:absolute;
	top:32pt;
	left:141pt;
}
#seggio_305{
	position:absolute;
	top:31pt;
	left:147pt;
}
#seggio_306{
	position:absolute;
	top:30pt;
	left:154pt;
}
#seggio_307{
	position:absolute;
	top:29pt;
	left:160pt;
}
#seggio_308{
	position:absolute;
	top:29pt;
	left:167pt;
}
#seggio_309{
	position:absolute;
	top:126pt;
	left:185pt;
}
#seggio_310{
	position:absolute;
	top:128pt;
	left:194pt;
}
#seggio_311{
	position:absolute;
	top:116pt;
	left:182pt;
}
#seggio_312{
	position:absolute;
	top:117pt;
	left:191pt;
}
#seggio_313{
	position:absolute;
	top:119pt;
	left:200pt;
}
#seggio_314{
	position:absolute;
	top:106pt;
	left:181pt;
}
#seggio_315{
	position:absolute;
	top:107pt;
	left:189pt;
}
#seggio_316{
	position:absolute;
	top:109pt;
	left:197pt;
}
#seggio_317{
	position:absolute;
	top:111pt;
	left:204pt;
}
#seggio_318{
	position:absolute;
	top:96pt;
	left:181pt;
}
#seggio_319{
	position:absolute;
	top:97pt;
	left:188pt;
}
#seggio_320{
	position:absolute;
	top:98pt;
	left:195pt;
}
#seggio_321{
	position:absolute;
	top:100pt;
	left:201pt;
}
#seggio_322{
	position:absolute;
	top:102pt;
	left:208pt;
}
#seggio_323{
	position:absolute;
	top:87pt;
	left:181pt;
}
#seggio_324{
	position:absolute;
	top:87pt;
	left:189pt;
}
#seggio_325{
	position:absolute;
	top:88pt;
	left:197pt;
}
#seggio_326{
	position:absolute;
	top:90pt;
	left:204pt;
}
#seggio_327{
	position:absolute;
	top:93pt;
	left:211pt;
}
#seggio_328{
	position:absolute;
	top:77pt;
	left:181pt;
}
#seggio_329{
	position:absolute;
	top:77pt;
	left:188pt;
}
#seggio_330{
	position:absolute;
	top:78pt;
	left:195pt;
}
#seggio_331{
	position:absolute;
	top:80pt;
	left:202pt;
}
#seggio_332{
	position:absolute;
	top:82pt;
	left:208pt;
}
#seggio_333{
	position:absolute;
	top:84pt;
	left:215pt;
}
#seggio_334{
	position:absolute;
	top:67pt;
	left:181pt;
}
#seggio_335{
	position:absolute;
	top:68pt;
	left:189pt;
}
#seggio_336{
	position:absolute;
	top:69pt;
	left:197pt;
}
#seggio_337{
	position:absolute;
	top:71pt;
	left:204pt;
}
#seggio_338{
	position:absolute;
	top:72pt;
	left:211pt;
}
#seggio_339{
	position:absolute;
	top:75pt;
	left:218pt;
}
#seggio_340{
	position:absolute;
	top:58pt;
	left:181pt;
}
#seggio_341{
	position:absolute;
	top:58pt;
	left:188pt;
}
#seggio_342{
	position:absolute;
	top:59pt;
	left:195pt;
}
#seggio_343{
	position:absolute;
	top:60pt;
	left:202pt;
}
#seggio_344{
	position:absolute;
	top:62pt;
	left:209pt;
}
#seggio_345{
	position:absolute;
	top:64pt;
	left:215pt;
}
#seggio_346{
	position:absolute;
	top:66pt;
	left:222pt;
}
#seggio_347{
	position:absolute;
	top:48pt;
	left:181pt;
}
#seggio_348{
	position:absolute;
	top:48pt;
	left:188pt;
}
#seggio_349{
	position:absolute;
	top:49pt;
	left:194pt;
}
#seggio_350{
	position:absolute;
	top:50pt;
	left:201pt;
}
#seggio_351{
	position:absolute;
	top:52pt;
	left:207pt;
}
#seggio_352{
	position:absolute;
	top:53pt;
	left:213pt;
}
#seggio_353{
	position:absolute;
	top:55pt;
	left:220pt;
}
#seggio_354{
	position:absolute;
	top:57pt;
	left:226pt;
}
#seggio_355{
	position:absolute;
	top:38pt;
	left:181pt;
}
#seggio_356{
	position:absolute;
	top:39pt;
	left:187pt;
}
#seggio_357{
	position:absolute;
	top:39pt;
	left:193pt;
}
#seggio_358{
	position:absolute;
	top:40pt;
	left:199pt;
}
#seggio_359{
	position:absolute;
	top:41pt;
	left:206pt;
}
#seggio_360{
	position:absolute;
	top:43pt;
	left:212pt;
}
#seggio_361{
	position:absolute;
	top:44pt;
	left:218pt;
}
#seggio_362{
	position:absolute;
	top:46pt;
	left:224pt;
}
#seggio_363{
	position:absolute;
	top:48pt;
	left:229pt;
}
#seggio_364{
	position:absolute;
	top:29pt;
	left:181pt;
}
#seggio_365{
	position:absolute;
	top:29pt;
	left:188pt;
}
#seggio_366{
	position:absolute;
	top:30pt;
	left:194pt;
}
#seggio_367{
	position:absolute;
	top:31pt;
	left:201pt;
}
#seggio_368{
	position:absolute;
	top:32pt;
	left:207pt;
}
#seggio_369{
	position:absolute;
	top:33pt;
	left:214pt;
}
#seggio_370{
	position:absolute;
	top:35pt;
	left:220pt;
}
#seggio_371{
	position:absolute;
	top:37pt;
	left:227pt;
}
#seggio_372{
	position:absolute;
	top:39pt;
	left:233pt;
}
#seggio_373{
	position:absolute;
	top:136pt;
	left:213pt;
}
#seggio_374{
	position:absolute;
	top:142pt;
	left:221pt;
}
#seggio_375{
	position:absolute;
	top:126pt;
	left:215pt;
}
#seggio_376{
	position:absolute;
	top:130pt;
	left:222pt;
}
#seggio_377{
	position:absolute;
	top:136pt;
	left:229pt;
}
#seggio_378{
	position:absolute;
	top:116pt;
	left:218pt;
}
#seggio_379{
	position:absolute;
	top:120pt;
	left:225pt;
}
#seggio_380{
	position:absolute;
	top:125pt;
	left:231pt;
}
#seggio_381{
	position:absolute;
	top:130pt;
	left:237pt;
}
#seggio_382{
	position:absolute;
	top:108pt;
	left:221pt;
}
#seggio_383{
	position:absolute;
	top:111pt;
	left:227pt;
}
#seggio_384{
	position:absolute;
	top:114pt;
	left:233pt;
}
#seggio_385{
	position:absolute;
	top:119pt;
	left:239pt;
}
#seggio_386{
	position:absolute;
	top:123pt;
	left:244pt;
}
#seggio_387{
	position:absolute;
	top:99pt;
	left:225pt;
}
#seggio_388{
	position:absolute;
	top:102pt;
	left:232pt;
}
#seggio_389{
	position:absolute;
	top:106pt;
	left:238pt;
}
#seggio_390{
	position:absolute;
	top:111pt;
	left:244pt;
}
#seggio_391{
	position:absolute;
	top:116pt;
	left:250pt;
}
#seggio_392{
	position:absolute;
	top:90pt;
	left:228pt;
}
#seggio_393{
	position:absolute;
	top:93pt;
	left:234pt;
}
#seggio_394{
	position:absolute;
	top:96pt;
	left:240pt;
}
#seggio_395{
	position:absolute;
	top:100pt;
	left:246pt;
}
#seggio_396{
	position:absolute;
	top:105pt;
	left:252pt;
}
#seggio_397{
	position:absolute;
	top:109pt;
	left:257pt;
}
#seggio_398{
	position:absolute;
	top:81pt;
	left:232pt;
}
#seggio_399{
	position:absolute;
	top:84pt;
	left:239pt;
}
#seggio_400{
	position:absolute;
	top:88pt;
	left:245pt;
}
#seggio_401{
	position:absolute;
	top:92pt;
	left:252pt;
}
#seggio_402{
	position:absolute;
	top:97pt;
	left:258pt;
}
#seggio_403{
	position:absolute;
	top:102pt;
	left:263pt;
}
#seggio_404{
	position:absolute;
	top:72pt;
	left:235pt;
}
#seggio_405{
	position:absolute;
	top:75pt;
	left:242pt;
}
#seggio_406{
	position:absolute;
	top:78pt;
	left:248pt;
}
#seggio_407{
	position:absolute;
	top:82pt;
	left:254pt;
}
#seggio_408{
	position:absolute;
	top:86pt;
	left:259pt;
}
#seggio_409{
	position:absolute;
	top:91pt;
	left:265pt;
}
#seggio_410{
	position:absolute;
	top:96pt;
	left:270pt;
}
#seggio_411{
	position:absolute;
	top:63pt;
	left:239pt;
}
#seggio_412{
	position:absolute;
	top:66pt;
	left:245pt;
}
#seggio_413{
	position:absolute;
	top:69pt;
	left:251pt;
}
#seggio_414{
	position:absolute;
	top:72pt;
	left:256pt;
}
#seggio_415{
	position:absolute;
	top:76pt;
	left:261pt;
}
#seggio_416{
	position:absolute;
	top:80pt;
	left:267pt;
}
#seggio_417{
	position:absolute;
	top:85pt;
	left:272pt;
}
#seggio_418{
	position:absolute;
	top:89pt;
	left:277pt;
}
#seggio_419{
	position:absolute;
	top:54pt;
	left:242pt;
}
#seggio_420{
	position:absolute;
	top:57pt;
	left:248pt;
}
#seggio_421{
	position:absolute;
	top:59pt;
	left:253pt;
}
#seggio_422{
	position:absolute;
	top:63pt;
	left:259pt;
}
#seggio_423{
	position:absolute;
	top:66pt;
	left:264pt;
}
#seggio_424{
	position:absolute;
	top:70pt;
	left:269pt;
}
#seggio_425{
	position:absolute;
	top:74pt;
	left:274pt;
}
#seggio_426{
	position:absolute;
	top:78pt;
	left:279pt;
}
#seggio_427{
	position:absolute;
	top:82pt;
	left:283pt;
}
#seggio_428{
	position:absolute;
	top:45pt;
	left:246pt;
}
#seggio_429{
	position:absolute;
	top:48pt;
	left:252pt;
}
#seggio_430{
	position:absolute;
	top:51pt;
	left:258pt;
}
#seggio_431{
	position:absolute;
	top:54pt;
	left:263pt;
}
#seggio_432{
	position:absolute;
	top:58pt;
	left:269pt;
}
#seggio_433{
	position:absolute;
	top:62pt;
	left:275pt;
}
#seggio_434{
	position:absolute;
	top:66pt;
	left:280pt;
}
#seggio_435{
	position:absolute;
	top:71pt;
	left:285pt;
}
#seggio_436{
	position:absolute;
	top:75pt;
	left:290pt;
}
#seggio_437{
	position:absolute;
	top:157pt;
	left:236pt;
}
#seggio_438{
	position:absolute;
	top:165pt;
	left:241pt;
}
#seggio_439{
	position:absolute;
	top:148pt;
	left:241pt;
}
#seggio_440{
	position:absolute;
	top:156pt;
	left:247pt;
}
#seggio_441{
	position:absolute;
	top:164pt;
	left:251pt;
}
#seggio_442{
	position:absolute;
	top:141pt;
	left:247pt;
}
#seggio_443{
	position:absolute;
	top:147pt;
	left:252pt;
}
#seggio_444{
	position:absolute;
	top:153pt;
	left:256pt;
}
#seggio_445{
	position:absolute;
	top:160pt;
	left:260pt;
}
#seggio_446{
	position:absolute;
	top:133pt;
	left:254pt;
}
#seggio_447{
	position:absolute;
	top:139pt;
	left:258pt;
}
#seggio_448{
	position:absolute;
	top:144pt;
	left:262pt;
}
#seggio_449{
	position:absolute;
	top:151pt;
	left:266pt;
}
#seggio_450{
	position:absolute;
	top:157pt;
	left:269pt;
}
#seggio_451{
	position:absolute;
	top:127pt;
	left:261pt;
}
#seggio_452{
	position:absolute;
	top:133pt;
	left:266pt;
}
#seggio_453{
	position:absolute;
	top:139pt;
	left:270pt;
}
#seggio_454{
	position:absolute;
	top:146pt;
	left:274pt;
}
#seggio_455{
	position:absolute;
	top:153pt;
	left:278pt;
}
#seggio_456{
	position:absolute;
	top:120pt;
	left:267pt;
}
#seggio_457{
	position:absolute;
	top:125pt;
	left:272pt;
}
#seggio_458{
	position:absolute;
	top:131pt;
	left:276pt;
}
#seggio_459{
	position:absolute;
	top:137pt;
	left:280pt;
}
#seggio_460{
	position:absolute;
	top:143pt;
	left:283pt;
}
#seggio_461{
	position:absolute;
	top:150pt;
	left:286pt;
}
#seggio_462{
	position:absolute;
	top:113pt;
	left:274pt;
}
#seggio_463{
	position:absolute;
	top:119pt;
	left:279pt;
}
#seggio_464{
	position:absolute;
	top:125pt;
	left:283pt;
}
#seggio_465{
	position:absolute;
	top:132pt;
	left:287pt;
}
#seggio_466{
	position:absolute;
	top:139pt;
	left:291pt;
}
#seggio_467{
	position:absolute;
	top:146pt;
	left:295pt;
}
#seggio_468{
	position:absolute;
	top:106pt;
	left:280pt;
}
#seggio_469{
	position:absolute;
	top:111pt;
	left:285pt;
}
#seggio_470{
	position:absolute;
	top:118pt;
	left:289pt;
}
#seggio_471{
	position:absolute;
	top:123pt;
	left:293pt;
}
#seggio_472{
	position:absolute;
	top:129pt;
	left:297pt;
}
#seggio_473{
	position:absolute;
	top:136pt;
	left:300pt;
}
#seggio_474{
	position:absolute;
	top:142pt;
	left:303pt;
}
#seggio_475{
	position:absolute;
	top:99pt;
	left:287pt;
}
#seggio_476{
	position:absolute;
	top:104pt;
	left:291pt;
}
#seggio_477{
	position:absolute;
	top:110pt;
	left:295pt;
}
#seggio_478{
	position:absolute;
	top:115pt;
	left:299pt;
}
#seggio_479{
	position:absolute;
	top:121pt;
	left:303pt;
}
#seggio_480{
	position:absolute;
	top:127pt;
	left:306pt;
}
#seggio_481{
	position:absolute;
	top:132pt;
	left:309pt;
}
#seggio_482{
	position:absolute;
	top:138pt;
	left:312pt;
}
#seggio_483{
	position:absolute;
	top:92pt;
	left:293pt;
}
#seggio_484{
	position:absolute;
	top:97pt;
	left:297pt;
}
#seggio_485{
	position:absolute;
	top:102pt;
	left:301pt;
}
#seggio_486{
	position:absolute;
	top:107pt;
	left:305pt;
}
#seggio_487{
	position:absolute;
	top:113pt;
	left:309pt;
}
#seggio_488{
	position:absolute;
	top:118pt;
	left:312pt;
}
#seggio_489{
	position:absolute;
	top:124pt;
	left:315pt;
}
#seggio_490{
	position:absolute;
	top:129pt;
	left:318pt;
}
#seggio_491{
	position:absolute;
	top:135pt;
	left:321pt;
}
#seggio_492{
	position:absolute;
	top:86pt;
	left:300pt;
}
#seggio_493{
	position:absolute;
	top:91pt;
	left:305pt;
}
#seggio_494{
	position:absolute;
	top:96pt;
	left:309pt;
}
#seggio_495{
	position:absolute;
	top:101pt;
	left:313pt;
}
#seggio_496{
	position:absolute;
	top:107pt;
	left:316pt;
}
#seggio_497{
	position:absolute;
	top:113pt;
	left:320pt;
}
#seggio_498{
	position:absolute;
	top:119pt;
	left:323pt;
}
#seggio_499{
	position:absolute;
	top:125pt;
	left:327pt;
}
#seggio_500{
	position:absolute;
	top:131pt;
	left:329pt;
}
#seggio_501{
	position:absolute;
	top:185pt;
	left:249pt;
}
#seggio_502{
	position:absolute;
	top:195pt;
	left:251pt;
}
#seggio_503{
	position:absolute;
	top:179pt;
	left:258pt;
}
#seggio_504{
	position:absolute;
	top:188pt;
	left:260pt;
}
#seggio_505{
	position:absolute;
	top:197pt;
	left:261pt;
}
#seggio_506{
	position:absolute;
	top:175pt;
	left:266pt;
}
#seggio_507{
	position:absolute;
	top:183pt;
	left:268pt;
}
#seggio_508{
	position:absolute;
	top:190pt;
	left:269pt;
}
#seggio_509{
	position:absolute;
	top:198pt;
	left:270pt;
}
#seggio_510{
	position:absolute;
	top:171pt;
	left:274pt;
}
#seggio_511{
	position:absolute;
	top:178pt;
	left:276pt;
}
#seggio_512{
	position:absolute;
	top:184pt;
	left:278pt;
}
#seggio_513{
	position:absolute;
	top:192pt;
	left:279pt;
}
#seggio_514{
	position:absolute;
	top:198pt;
	left:280pt;
}
#seggio_515{
	position:absolute;
	top:167pt;
	left:283pt;
}
#seggio_516{
	position:absolute;
	top:175pt;
	left:286pt;
}
#seggio_517{
	position:absolute;
	top:183pt;
	left:287pt;
}
#seggio_518{
	position:absolute;
	top:190pt;
	left:288pt;
}
#seggio_519{
	position:absolute;
	top:198pt;
	left:289pt;
}
#seggio_520{
	position:absolute;
	top:163pt;
	left:292pt;
}
#seggio_521{
	position:absolute;
	top:170pt;
	left:294pt;
}
#seggio_522{
	position:absolute;
	top:177pt;
	left:295pt;
}
#seggio_523{
	position:absolute;
	top:184pt;
	left:297pt;
}
#seggio_524{
	position:absolute;
	top:192pt;
	left:298pt;
}
#seggio_525{
	position:absolute;
	top:198pt;
	left:299pt;
}
#seggio_526{
	position:absolute;
	top:160pt;
	left:300pt;
}
#seggio_527{
	position:absolute;
	top:167pt;
	left:303pt;
}
#seggio_528{
	position:absolute;
	top:175pt;
	left:305pt;
}
#seggio_529{
	position:absolute;
	top:183pt;
	left:306pt;
}
#seggio_530{
	position:absolute;
	top:190pt;
	left:307pt;
}
#seggio_531{
	position:absolute;
	top:198pt;
	left:308pt;
}
#seggio_532{
	position:absolute;
	top:156pt;
	left:309pt;
}
#seggio_533{
	position:absolute;
	top:163pt;
	left:311pt;
}
#seggio_534{
	position:absolute;
	top:170pt;
	left:313pt;
}
#seggio_535{
	position:absolute;
	top:177pt;
	left:314pt;
}
#seggio_536{
	position:absolute;
	top:184pt;
	left:316pt;
}
#seggio_537{
	position:absolute;
	top:191pt;
	left:316pt;
}
#seggio_538{
	position:absolute;
	top:198pt;
	left:317pt;
}
#seggio_539{
	position:absolute;
	top:152pt;
	left:317pt;
}
#seggio_540{
	position:absolute;
	top:158pt;
	left:320pt;
}
#seggio_541{
	position:absolute;
	top:165pt;
	left:321pt;
}
#seggio_542{
	position:absolute;
	top:171pt;
	left:323pt;
}
#seggio_543{
	position:absolute;
	top:178pt;
	left:324pt;
}
#seggio_544{
	position:absolute;
	top:185pt;
	left:325pt;
}
#seggio_545{
	position:absolute;
	top:192pt;
	left:326pt;
}
#seggio_546{
	position:absolute;
	top:198pt;
	left:326pt;
}
#seggio_547{
	position:absolute;
	top:148pt;
	left:326pt;
}
#seggio_548{
	position:absolute;
	top:154pt;
	left:328pt;
}
#seggio_549{
	position:absolute;
	top:160pt;
	left:330pt;
}
#seggio_550{
	position:absolute;
	top:167pt;
	left:332pt;
}
#seggio_551{
	position:absolute;
	top:173pt;
	left:333pt;
}
#seggio_552{
	position:absolute;
	top:179pt;
	left:334pt;
}
#seggio_553{
	position:absolute;
	top:186pt;
	left:335pt;
}
#seggio_554{
	position:absolute;
	top:192pt;
	left:335pt;
}
#seggio_555{
	position:absolute;
	top:199pt;
	left:336pt;
}
#seggio_556{
	position:absolute;
	top:144pt;
	left:335pt;
}
#seggio_557{
	position:absolute;
	top:151pt;
	left:337pt;
}
#seggio_558{
	position:absolute;
	top:158pt;
	left:339pt;
}
#seggio_559{
	position:absolute;
	top:165pt;
	left:341pt;
}
#seggio_560{
	position:absolute;
	top:171pt;
	left:342pt;
}
#seggio_561{
	position:absolute;
	top:178pt;
	left:343pt;
}
#seggio_562{
	position:absolute;
	top:185pt;
	left:344pt;
}
#seggio_563{
	position:absolute;
	top:192pt;
	left:344pt;
}
#seggio_564{
	position:absolute;
	top:198pt;
	left:345pt;
}
#seggio_565{
	position:absolute;
	top:219pt;
	left:252pt;
}
#seggio_566{
	position:absolute;
	top:225pt;
	left:252pt;
}
#seggio_567{
	position:absolute;
	top:231pt;
	left:252pt;
}
#seggio_568{
	position:absolute;
	top:213pt;
	left:261pt;
}
#seggio_569{
	position:absolute;
	top:219pt;
	left:261pt;
}
#seggio_570{
	position:absolute;
	top:225pt;
	left:261pt;
}
#seggio_571{
	position:absolute;
	top:231pt;
	left:261pt;
}
#seggio_572{
	position:absolute;
	top:237pt;
	left:261pt;
}
#seggio_573{
	position:absolute;
	top:213pt;
	left:271pt;
}
#seggio_574{
	position:absolute;
	top:219pt;
	left:271pt;
}
#seggio_575{
	position:absolute;
	top:225pt;
	left:271pt;
}
#seggio_576{
	position:absolute;
	top:231pt;
	left:271pt;
}
#seggio_577{
	position:absolute;
	top:237pt;
	left:271pt;
}
#seggio_578{
	position:absolute;
	top:213pt;
	left:280pt;
}
#seggio_579{
	position:absolute;
	top:219pt;
	left:280pt;
}
#seggio_580{
	position:absolute;
	top:225pt;
	left:280pt;
}
#seggio_581{
	position:absolute;
	top:231pt;
	left:280pt;
}
#seggio_582{
	position:absolute;
	top:237pt;
	left:280pt;
}
#seggio_583{
	position:absolute;
	top:213pt;
	left:289pt;
}
#seggio_584{
	position:absolute;
	top:219pt;
	left:289pt;
}
#seggio_585{
	position:absolute;
	top:225pt;
	left:289pt;
}
#seggio_586{
	position:absolute;
	top:231pt;
	left:289pt;
}
#seggio_587{
	position:absolute;
	top:237pt;
	left:289pt;
}
#seggio_588{
	position:absolute;
	top:213pt;
	left:299pt;
}
#seggio_589{
	position:absolute;
	top:219pt;
	left:299pt;
}
#seggio_590{
	position:absolute;
	top:225pt;
	left:299pt;
}
#seggio_591{
	position:absolute;
	top:231pt;
	left:299pt;
}
#seggio_592{
	position:absolute;
	top:237pt;
	left:299pt;
}
#seggio_593{
	position:absolute;
	top:213pt;
	left:308pt;
}
#seggio_594{
	position:absolute;
	top:219pt;
	left:308pt;
}
#seggio_595{
	position:absolute;
	top:225pt;
	left:308pt;
}
#seggio_596{
	position:absolute;
	top:231pt;
	left:308pt;
}
#seggio_597{
	position:absolute;
	top:237pt;
	left:308pt;
}
#seggio_598{
	position:absolute;
	top:213pt;
	left:317pt;
}
#seggio_599{
	position:absolute;
	top:219pt;
	left:317pt;
}
#seggio_600{
	position:absolute;
	top:225pt;
	left:317pt;
}
#seggio_601{
	position:absolute;
	top:231pt;
	left:317pt;
}
#seggio_602{
	position:absolute;
	top:237pt;
	left:317pt;
}
#seggio_603{
	position:absolute;
	top:213pt;
	left:327pt;
}
#seggio_604{
	position:absolute;
	top:219pt;
	left:327pt;
}
#seggio_605{
	position:absolute;
	top:225pt;
	left:327pt;
}
#seggio_606{
	position:absolute;
	top:231pt;
	left:327pt;
}
#seggio_607{
	position:absolute;
	top:237pt;
	left:327pt;
}
#seggio_608{
	position:absolute;
	top:213pt;
	left:336pt;
}
#seggio_609{
	position:absolute;
	top:219pt;
	left:336pt;
}
#seggio_610{
	position:absolute;
	top:225pt;
	left:336pt;
}
#seggio_611{
	position:absolute;
	top:231pt;
	left:336pt;
}
#seggio_612{
	position:absolute;
	top:237pt;
	left:336pt;
}
#seggio_613{
	position:absolute;
	top:213pt;
	left:345pt;
}
#seggio_614{
	position:absolute;
	top:219pt;
	left:345pt;
}
#seggio_615{
	position:absolute;
	top:225pt;
	left:345pt;
}
#seggio_616{
	position:absolute;
	top:231pt;
	left:345pt;
}
#seggio_617{
	position:absolute;
	top:155pt;
	left:139pt;
}
#seggio_618{
	position:absolute;
	top:150pt;
	left:147pt;
}
#seggio_619{
	position:absolute;
	top:146pt;
	left:155pt;
}
#seggio_620{
	position:absolute;
	top:144pt;
	left:165pt;
}
#seggio_621{
	position:absolute;
	top:143pt;
	left:174pt;
}
#seggio_622{
	position:absolute;
	top:144pt;
	left:184pt;
}
#seggio_623{
	position:absolute;
	top:146pt;
	left:193pt;
}
#seggio_624{
	position:absolute;
	top:150pt;
	left:201pt;
}
#seggio_625{
	position:absolute;
	top:155pt;
	left:209pt;
}
#seggio_626{
	position:absolute;
	top:237pt;
	left:137pt;
}
#seggio_627{
	position:absolute;
	top:237pt;
	left:144pt;
}
#seggio_628{
	position:absolute;
	top:237pt;
	left:152pt;
}
#seggio_629{
	position:absolute;
	top:237pt;
	left:197pt;
}
#seggio_630{
	position:absolute;
	top:237pt;
	left:204pt;
}
#seggio_631{
	position:absolute;
	top:237pt;
	left:211pt;
}
#seggio_632{
	position:absolute;
	top:247pt;
	left:144pt;
}
#seggio_633{
	position:absolute;
	top:247pt;
	left:152pt;
}
#seggio_634{
	position:absolute;
	top:247pt;
	left:167pt;
}
#seggio_635{
	position:absolute;
	top:247pt;
	left:174pt;
}
#seggio_636{
	position:absolute;
	top:247pt;
	left:181pt;
}
#seggio_637{
	position:absolute;
	top:247pt;
	left:197pt;
}
#seggio_638{
	position:absolute;
	top:247pt;
	left:211pt;
}
#seggio_639{
	position:absolute;
	top:263pt;
	left:137pt;
}
#seggio_640{
	position:absolute;
	top:263pt;
	left:144pt;
}
#seggio_641{
	position:absolute;
	top:272pt;
	left:213pt;
}
#seggio_642{
	position:absolute;
	top:263pt;
	left:173pt;
}
#seggio_643{
	position:absolute;
	top:263pt;
	left:181pt;
}
#seggio_644{
	position:absolute;
	top:272pt;
	left:222pt;
}
#seggio_645{
	position:absolute;
	top:176pt;
	left:126pt;
}
#seggio_646{
	position:absolute;
	top:179pt;
	left:222pt;
}
#seggio_647{
	position:absolute;
	top:184pt;
	left:227pt;
}
#seggio_648{
	position:absolute;
	top:237pt;
	left:159pt;
}
#seggio_649{
	position:absolute;
	top:237pt;
	left:167pt;
}
#seggio_650{
	position:absolute;
	top:237pt;
	left:174pt;
}
#seggio_651{
	position:absolute;
	top:237pt;
	left:181pt;
}
#seggio_652{
	position:absolute;
	top:237pt;
	left:189pt;
}
#seggio_653{
	position:absolute;
	top:247pt;
	left:137pt;
}
#seggio_654{
	position:absolute;
	top:247pt;
	left:159pt;
}
#seggio_655{
	position:absolute;
	top:247pt;
	left:189pt;
}
#seggio_656{
	position:absolute;
	top:247pt;
	left:204pt;
}
#seggio_657{
	position:absolute;
	top:272pt;
	left:205pt;
}
#seggio_658{
	position:absolute;
	top:237pt;
	left:345pt;
}
#seggio_659{
	position:absolute;
	top:237pt;
	left:252pt;
}
#seggio_660{
	position:absolute;
	top:237pt;
	left:96pt;
}
#seggio_661{
	position:absolute;
	top:240pt;
	left:3pt;
}
